/* 全局设置 */
*{ 
    padding:0; 
    margin:0; 
    font-family: "微软雅黑","黑体","宋体";
    font-size:14px; 
    color:#333;
}
a{ 
    text-decoration: none;
}
ul,ol{ 
    list-style: none;
}
img{ 
    border:none;
}
input,textarea{ 
    outline: none;
}
/* body{
    filter: grayscale(100%); 变灰色
} */

/* 全局标题、内容 */
.pubCon{
    width: 1200px;
    margin: 0 auto;
}
.pubTit{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.pubTit h2{
    font-size: 30px;
    font-weight: 400;
}
.pubTit .line{
    width: 50px;
    height: 2px;
    background: #00abd9;
    margin: 10px auto;
}


/* 头部区域 */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.6);
    z-index: 999;
    transition: .3s;
}
.pubCon{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    transition: .3s;
}
.headNav ul{
    display: flex;
}
.headNav li a{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 30px;
    transition: .3s;
}
.headNav li a:hover{
    color: #00abd9;
}
.headNav li a::after{
    display: block;
    content:'';
    width: 6px;
    height: 6px;
    background: #00abd9;
    border-radius: 50%;
    margin: 0 auto;
    transition: .3s;
    opacity: 0;
}
.headNav li a:hover::after{
    opacity: 1;
}
.hdMenu{
    display: none;
    width: 30px;
    height: 26px;
    cursor: pointer;
}
.hdMenu i{
    display: block;
    width: 25px;
    height: 4px;
    background: rgb(100, 100, 100);
    border-radius: 2px;
}
.hdMenu i:nth-of-type(2){
    height: 2px;
    margin: 8px 0;
    width: 30px;
}

/* 轮播图区域 */
.banner{
    height: 500px;
}
.banner a{
    display: block;
    height: 500px;
    background: no-repeat center;
}
.banner a.small{
    display: none;
}
.banner .swiper-pagination-bullet{
    background: white;
}

/* 服务区域 */
.service{
    width: 1200px;
    padding: 90px 0 50px;
    margin: 0 auto;
}
.serCon{
    display: flex;
    text-align: center;
}
.serCon .box{
    display: block;
    height: 380px;
    padding: 0 30px;
    transition: .3s;
}
.serCon .box .boxIcon{
    width: 150px;
    height: 150px;
    border: 1px solid #00abd9;
    border-radius: 50%;
    margin: 10px auto;
    transition: .3s;
}
.serCon .box h3{
    font-size: 22px;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 20px;
    transition: .3s;
}
.serCon .box:hover{
    margin-top: -10px;
    background: rgb(230, 230, 230);
    border-radius: 10px;
}
.serCon .box p{
    line-height: 1.8em;
    color: #666;
}

.serCon .box:hover .boxIcon{
    background: #00abd9;
}
.serCon .box:hover h3{
    color: #00abd9;
}

/* 关于我们区域 */
.about{
    padding: 50px 20px;
    box-sizing: border-box;
    background: url(../images/aboutBg.jpg) no-repeat center fixed;
}
.about h2{
    color: white;
}
.about .line{
    background: white;
}
.aboText{
    display: block;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    line-height: 2em;
    text-align: center;
}
.btoGroup{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}
.btoGroup .btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    line-height: 50px;
    font-size: 20px;
    margin: 0 15px;
    opacity: 0.6;
    transition: .3s;
}
.btoGroup .btn:hover{
    opacity: 1;
    transform: scale(1.05); /*放大效果*/
}
.btoGroup .btnLeft{
    background: -webkit-gradient(linear,right top, left top,from(rgb(239,46,87)),to(rgb(246,123,32)));
    background: -o-linear-gradient(right,rgb(239,46,87),rgb(246,123,32));
    background: linear-gradient(to left,rgb(239,46,87),rgb(246,123,32));
}
.btoGroup .btnRight{
    background: -webkit-gradient(linear,right top, left top,from(rgb(88,97,255)),to(rgb(16,206,216)));
    background: -o-linear-gradient(right,rgb(88,97,255),rgb(16,206,216));
    background: linear-gradient(to left,rgb(88,97,255),rgb(16,206,216));
}

/* 案例展示区域 */
.case{
    width: 1200px;
    margin: 0 auto;
}
.caseCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.caseCon .box{
    position: relative;
    display: block;
    width: 32%;
    margin-bottom: 30px;
    perspective: 600px; /*视距（下面X轴旋转用）*/
    overflow: hidden;
}
.caseCon img{
    display: block;
    width: 100%;
    height: 100%;
}
.caseCon .ceng{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.8);
    transform: rotateX(120deg); /*旋转*/
    transform-origin: bottom;
    transition: .3s;
}
.caseCon .box:hover .ceng{
    transform: rotateX(0deg); /*旋转*/
}
.caseCon .ceng h3{
    display: block;
    width: 80%;
    color: white;
    text-align: center;
    margin: 10% auto 20px;
    font-size: 1em;
}
.caseCon .ceng p{
    display: block;
    width: 80%;
    color: white;
    text-align: center;
    margin: 5% auto;
    font-size: 0.8em;
}

/* 不同设备适配 */
/* 手机端/平板端适配 */
@media(max-width:992px){
    /* 头部导航 */
    .pubCon{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .headNav{
        display: none;
        position: absolute;
        top: 42px;
        width: 100%;
        background: white;
    }
    .headNav ul{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .headNav li{
        width: 100%;
        height: 40px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .headNav li:first-of-type{
        border-top: none;
    }
    .headNav li:last-of-type{
        border-bottom: 2px solid #00abd9;
    }
    .headNav li a{
        display: block;
        height: 30px;
        line-height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0;
        transition: .3s;
    }
    .headNav li a:hover{
        color: #00abd9;
    }
    .headNav li a:hover::after{
        opacity: 0;
    }
    .hdMenu{
        display: block;
    }
    /* 点击切换效果--css旋转 */
    .hdMenu i{
        transform-origin: left;
        transition: .3s;
    }
    .hdMenu.active i:nth-child(1){
        width: 40px;
        height: 3px;
        transform: rotate(32deg);
    }
    .hdMenu.active i:nth-of-type(2){
        opacity: 0;
    }
    .hdMenu.active i:nth-child(3){
        width: 40px;
        height: 3px;
        transform: rotate(-32deg);
    }

        /*海报模块*/
    .banner{ 
        height: 681px;
    }
    .banner a{
        height: 681px;
        background-size: cover;
    }
    .banner a.small{
        display: block
    }
    .banner a.big{
        display : none
    }

    /* 服务区域 */
    .service{
        width: 100%;
    }
    .serCon{
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .serCon .box{
        display: block;
        width: 50%;
        height: 380px;
        padding: 0 30px;
        box-sizing: border-box;
        transition: .3s;
    }
    .serCon .box .boxIcon{
        width: 150px;
        height: 150px;
        border: 1px solid #00abd9;
        border-radius: 50%;
        margin: 10px auto;
        transition: .3s;
    }
    .serCon .box h3{
        font-size: 22px;
        font-weight: 400;
        padding-top: 40px;
        padding-bottom: 20px;
        transition: .3s;
    }
    .serCon .box:hover{
        margin-top: -10px;
        background: rgb(230, 230, 230);
        border-radius: 10px;
    }
    .serCon .box p{
        line-height: 1.8em;
        color: #666;
    }
    
    .serCon .box:hover .boxIcon{
        background: #00abd9;
    }
    .serCon .box:hover h3{
        color: #00abd9;
    }

    /* 关于我们区域 */
    .about h2{
        color: white;
    }
    .about .line{
        background: white;
    }
    .aboText{
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        color: white;
        line-height: 2em;
        text-align: center;
    }
    .btoGroup{
        width: 100%;
        height: 60px;
        text-align: center;
        margin-top: 100px;
        align-items: center;
    }
    .btoGroup .btn{
        display: inline-block;
        width: 42%;
        height: 50px;
        color: #fff;
        border-radius: 10px;
        line-height: 50px;
        font-size: 20px;
        margin: 0 2%;
        opacity: 0.6;
        transition: .3s;
    }

    /* 案例展示区域 */
    .case{
        width: 100%;
        margin: 0 auto;
    }
    .caseCon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .caseCon .box{
        position: relative;
        display: block;
        width: 32%;
        min-width: 200px;
        margin-bottom: 30px;
        perspective: 600px; /*视距（下面X轴旋转用）*/
        overflow: hidden;
    }


}
/* pc端适配 */
@media(min-width:992px){
    .headNav{
        display: block;
    }

    /* 服务区域 */
    .service{
        width: 100%;
    }
    .serCon{
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .serCon .box{
        display: block;
        width: 25%;
        height: 380px;
        padding: 0 30px;
        box-sizing: border-box;
        transition: .3s;
    }
}
/* pc端大屏适配 */
@media(min-width:1200px){
    .headNav{
        display: block;
    }
}