*{ padding:0; margin:0; font-family: "微软雅黑","黑体","宋体"; font-size:14px; color:#333;}
a{ text-decoration: none;}
ul,ol{ list-style: none;}
img{ border:none;}
input,textarea{ outline: none;}




.pubCon{ margin:0 auto;}
.pubTit{ text-align: center;}
.pubTit h2{  font-weight: 400; padding-bottom:10px; line-height: 1.6em;}
.pubTit .line{ width:50px; height: 2px; background: #00abd9; display: inline-block;}

.bodyBg{ position: fixed; top:0; left: 0; width:100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 9; display: none;}





/* 头部模块 */
.header{ height: 60px; width:100%; background: rgba(255,255,255,0.8); 
    position: fixed; top:0; left: 0; z-index: 10; border-bottom:1px solid #00abd9}
.hdCon{height: 100%; display: flex; justify-content: space-between; align-items: center;}
.hdNav ul{ display: flex;height: 60px;}
.hdNav li a{display: block; font-size: 18px; padding:0 30px; transition: 0.3s; position: relative; line-height: 60px;}
.hdNav li:hover a,.hdNav li.active a{ color:#00abd9}
.hdNav li a::after{display: block;content: ""; width:6px; height: 6px; background: #00abd9; border-radius: 50%; position: absolute; bottom:6px; left: calc(50% - 3px);opacity: 0; 
transition: 0.3s; }
.hdNav li:hover a::after,.hdNav li.active a::after{ opacity: 1;}

.hdMenu{ width:40px; border:1px solid #aaa; border-radius: 3px; cursor: pointer; display: none;}
.hdMenu i{ display: block; width:26px; height: 2px; background: #aaa; margin:6px auto;}




/* 海报模块 */
.banner{ height: 500px;}
.banner a{ display:block; height: 500px; background: no-repeat center; cursor:move;}
.banner a.small{ display: none}
.banner .swiper-pagination-bullet{ background: #fff;}


/*服务模块*/

.serCon{ display: flex; text-align: center;}
.serCon .box{ display: block;  padding:0 30px; 
    box-sizing: border-box;}
.serCon .boxIcon{border:1px #00abd9 solid; border-radius: 50%; 
    margin:0 auto;  transition: 0.3s;}
.serCon .boxIcon  .iconfont{ font-size: 90px; color:#00abd9; transition: 0.3s;} 
.serCon h3{ font-size: 22px; font-weight: 400; transition: 0.3s;}
.serCon p{ line-height: 1.8em; color:#666}
.serCon .box:hover h3{ color: #00abd9;}
.serCon .box:hover .boxIcon{ background: #00abd9;}
.serCon .box:hover .boxIcon .iconfont{ color:#fff;}



/* 关于我们模块 */
.about{ padding:90px 0; background: url(../images/aboutBg.jpg) no-repeat center fixed;}
.abtTit h2{ color:#fff;}
.abtTit .line{ background: #fff;}
.abtText{ font-size: 18px; color:#fff; line-height: 2em; opacity: 0.8; text-align: center;  padding:0 70px; }
.btnGroup{ width:100%; text-align: center; font-size: 0; padding-top:100px;}

.btnGroup .btn{ display: inline-block; width:150px; height: 50px; 
    background:-webkit-gradient(linear, left top, right top, from(#f67b1f), to(#ef2d58)); 
    background:-o-linear-gradient(left, #f67b1f, #ef2d58); 
    background:linear-gradient(to right, #f67b1f, #ef2d58);
    color:#fff; border-radius: 5px; line-height: 50px; font-size: 20px;margin:0 10px;  
    transition: 0.3s;}

.btnGroup .btnRit{ background: -webkit-gradient(linear, left top, right top, from(#0fcfd7),to(#5960ff)); background: -o-linear-gradient(left, #0fcfd7,#5960ff); background: linear-gradient(to right, #0fcfd7,#5960ff);}

.btnGroup .btn:hover{ -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); }



/* 案例展示 */
.case{ padding:90px 0;}
.caseCon{ display: flex; justify-content: space-between; flex-wrap: wrap;}
.caseCon .box{display:block; width:32%; margin-bottom:30px; position: relative;perspective:600px; overflow: hidden;}
.caseCon .pic{ width:100%; display: block;}
.caseCon .ceng{ display: block; width:100%; height: 100%; background: rgba(0,0,0,0.8); color:#fff; position: absolute; top:0; left: 0; display: flex;align-items: center; justify-content: center; padding:0 30px; box-sizing: border-box; flex-direction: column;transform: rotateX(110deg); transform-origin: bottom; transition: 0.3s; }
.caseCon .ceng h3{ color:#fff; font-size: 20px; font-weight: 400;}
.caseCon .ceng .line{width:30px; height: 1px; background: #fff; margin:10px 0 20px;}
.caseCon .ceng p{ color:#fff; opacity: 0.6; text-align: center; line-height: 1.8em;}
.caseCon .box:hover .ceng{ transform: rotateX(0);}



/*客户列表*/
.clientCon ul{ overflow: hidden;}
.clientCon li{ float:left; width:200px; padding:10px; box-sizing:border-box;}
.clientCon li img{ width:100%}



/*底部模块*/
.footer{ margin-top:90px; background: #f4f4f4; }
.ftMain{min-height: 100px; padding-top:20px;}
.ftLogo{   display:inline-block; }
.ftLogo img{float: left;}
.ftLogo .text{ float: left; padding-top:10px; padding-left:10px;}
.ftLogo .text h1{ font-size:16px; font-weight: 400;}

.ftCon{ display: flex; justify-content: space-between; padding:30px 0}
.ftCon h4{ font-size: 18px; font-weight: 400; padding-bottom:15px;}
.ftLink{ display: flex;}
.ftLink .box{ padding:0 20px;}
.ftLink a{ display: block; line-height: 2em;}
.ftLink a:hover{ color:#00abd9}

.ftContact h4{ color:#00abd9}
.ftContact p{ line-height: 2em;}

.ftEwm{text-align: center;}

.copyright{ background: #000; color:rgba(255,255,255,0.6); padding:10px 0; text-align: center;}
.copyright span{ color:rgba(255,255,255,0.6)}
.copyright a{ color:#fff;}




/* 手机和平板端 */
@media(max-width:992px){
.pubCon{ width:100%; padding:0 20px; box-sizing: border-box;}
.pubTit{ padding-bottom:40px;}
.pubTit h2{ font-size: 28px; }
.pubTit .line{ width:40px;}


/* 头部模块 */
.hdNav{ display:none; position: absolute; top:61px;left:0; width:100%; }
.hdNav ul{ height:auto; flex-direction: column; text-align: center;}
.hdNav li a{line-height: 50px; background: rgba(255,255,255,0.9); border-bottom:1px solid #e8e8e8}
.hdMenu{  display: block;}
.hdMenu i{transform-origin: left; transition: 0.3s;}
.hdMenu.active i:nth-child(1){ transform: rotate(30deg); width:33px;} 
.hdMenu.active i:nth-child(2){ opacity: 0;}
.hdMenu.active i:nth-child(3){ transform: rotate(-30deg); width:33px;} 

/* 海报模块 */
.banner{ height: 681px;}
.banner a{ height: 681px; background-size:cover}
.banner a.small{ display: block}
.banner a.big{ display: none}


/*服务模块*/
.service{ padding:60px 0}
.serCon{flex-wrap: wrap;}
.serCon .box{ height: auto; width:50%; margin-bottom:30px; padding:0 10px; }
.serCon .boxIcon{ width:120px; height: 120px; line-height: 120px; }
.serCon .boxIcon  .iconfont{ font-size: 60px; } 
.serCon h3{ padding:30px 0 15px; font-size: 20px;}



/* 关于我们模块 */
.about{ padding:50px 0; background-attachment: scroll;}
.abtTit{ padding:0 20px; box-sizing: border-box;}
.abtTit br{ display: none;}
.abtText{padding:0;}
.btnGroup{ padding-top:60px;}
.btnGroup .btn{ width:60%; height: 50px; margin-bottom:20px;}


/* 案例展示 */
.case{ padding:50px 0;}
.caseCon .box{width:49%; margin-bottom:20px;}
.caseCon .box:last-child{ display: none;}
.caseCon .ceng{ display: none; }


/*客户列表*/
.clientCon li{width:33.33%; }


/*底部模块*/
.footer{ margin-top:50px; }
.ftMain{ padding-top:20px;}
.ftCon{ display: flex; flex-direction: column; position: relative;}
.ftLink{ display: flex; margin-top:30px; justify-content: space-between;}
.ftLink .box{ padding:0 20px 0 0;}
.ftEwm{position: absolute; right:0; top:30px;}
}


/* 小屏幕显示器 */
@media(min-width:992px){
.pubCon{ width:960px;}
.pubTit{ padding-bottom:50px;}
.pubTit h2{ font-size: 30px; }

/*服务模块*/
.service{ padding:70px 0;}
.serCon .box{ padding:0 10px; height: auto;}
.serCon .boxIcon{ width:140px; height: 140px; line-height: 140px; }
.serCon .boxIcon  .iconfont{ font-size: 80px; } 
.serCon h3{ padding:40px 0 20px; }


/* 关于我们模块 */
.about{ padding:70px 0; background-attachment: scroll;}
.abtText{ padding:0px; }

/*客户列表*/
.clientCon li{ width:25%; }

}


/* 大屏显示器 */
@media(min-width:1300px){
.pubCon{ width:1200px; }
.pubTit{padding-bottom:60px;}
.pubTit h2{ font-size: 32px; }


/*服务模块*/
.service{ padding:90px 0 50px}
.serCon .box{ height: 380px;  padding:0 30px; }
.serCon .boxIcon{ width:200px; height: 200px;line-height: 200px;}
.serCon .boxIcon  .iconfont{ font-size: 90px;} 
.serCon h3{ padding:50px 0 25px; }


/* 关于我们模块 */
.about{ padding:90px 0; background-attachment:fixed;}
.abtText{ padding:0px 70px; }

/*客户列表*/
.clientCon li{ width:16.6%; }
}



