@font-face {
    font-family: "iconfont"; /* Project id 2906189 */
    src: url('//at.alicdn.com/t/font_2906189_2b0o58i9g7p.woff2?t=1636029629073') format('woff2'),
         url('//at.alicdn.com/t/font_2906189_2b0o58i9g7p.woff?t=1636029629073') format('woff'),
         url('//at.alicdn.com/t/font_2906189_2b0o58i9g7p.ttf?t=1636029629073') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiazai1:before {
    content: "\e602";
  }
  
  .icon-xiazai42:before {
    content: "\e617";
  }
  
  .icon-youxiang:before {
    content: "\e69e";
  }
  
  .icon-qq:before {
    content: "\e630";
  }
  
  .icon-weixin:before {
    content: "\e66f";
  }
  
  .icon-mima:before {
    content: "\e62f";
  }
  
  .icon-shouji:before {
    content: "\e639";
  }
  
  .icon-shangyishoushangyige:before {
    content: "\e600";
  }
  
  .icon-shangyishou:before {
    content: "\e601";
  }
  
  .icon-bofang:before {
    content: "\e624";
  }
  
  .icon-VIP2:before {
    content: "\e64b";
  }
  
  .icon-bofang1:before {
    content: "\e6a6";
  }
  
  .icon-vip:before {
    content: "\e65d";
  }
  
  .icon-bofangqi-bofangshu:before {
    content: "\e66d";
  }
  
  .icon-xiazai:before {
    content: "\e638";
  }
  
  .icon-duoxuan:before {
    content: "\e642";
  }
  
  .icon-fenxiang:before {
    content: "\e609";
  }
  
  .icon-pinglun:before {
    content: "\e8b4";
  }
  
  .icon-liebiao:before {
    content: "\e62d";
  }
  
  .icon-zuojiantou:before {
    content: "\e79b";
  }
  
  .icon-gengduo:before {
    content: "\e612";
  }
  
  .icon-VIP:before {
    content: "\e69d";
  }
  
  .icon-kongxinwenhao:before {
    content: "\ed19";
  }
  
  .icon-24gl-play:before {
    content: "\ea6d";
  }
  
  .icon-sousuo:before {
    content: "\e6a8";
  }
  
  .icon-paixingbang:before {
    content: "\e6c5";
  }
  
  .icon-bofangqi-bofang:before {
    content: "\e6a4";
  }
  
  .icon-meirituijian-:before {
    content: "\e652";
  }
  
  .icon-list:before {
    content: "\e655";
  }
  
  .icon-24gl-playCircle:before {
    content: "\ea6e";
  }
  
  .icon-24gf-playlist:before {
    content: "\ea82";
  }
  
  .icon-zanting:before {
    content: "\e613";
  }
  
  .icon-diantai:before {
    content: "\e636";
  }
  
  .icon-gedan:before {
    content: "\e603";
  }
  