.box {
  width: 500px;
  border: 1px solid #ddd;
}
.box .one {
  text-align: center;
  font-size: 30px;
}
.box .con {
  background: #eee;
}
.box .con span {
  display: block;
  color: #555;
  line-height: 40px;
  transition: .3s;
}
.box .con span:hover {
  color: red;
}
